 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <a href="index.html" class="navbar-brand ms-lg-5">
      <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>PaPerros</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a href="/" class="nav-item nav-link <%= activo==1 ? 'active' : '' %>" >Inicio</a>
          <a href="/contacto" class="nav-item nav-link <%= activo==2 ? 'active' : '' %>">Contacto</a>
          <a href="/preguntas" class="nav-item nav-link <%= activo==3 ? 'active' : '' %>">Preguntas</a>
          </div>
          <a href="/login" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Iniciar sesion <i class="bi bi-arrow-right"></i></a>
      </div>
  </div>
</nav>
<!-- Navbar End -->