<!DOCTYPE html>
<html lang="en">
<link href="homepage/css/login.css" rel="stylesheet">

<%- include("./partials/head.ejs"); %>

    <body>

        <%- include("./partials/menu.ejs"); %>

            <div class="container">
                <div class="login-form">
                    <h2>Iniciar Sesión</h2>
                    <p>Ingresa tus datos para iniciar sesion</p>
                    <form>
                        <div class="form-field">
                            <label for="username">Correo electronico:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-field">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" required> 
                        </div>
                        <div class="form-field">
                            <label>
                                <input type="checkbox" id="remember" name="remember"> Recordar sesión
                            </label>
                        </div>
                        <div class="form-field">
                            <button type="submit">Ingresar</button>
                        </div>
                        <div class="form-field">
                                <a href="<%= google %>" class="center-block">
                                <img src="homepage/img/iconogoogle.png" width="40px" height="40px" alt="">
                                </a>
                        </div>
                        <div class="signup-link">
                            ¿No tienes una cuenta? <a href="/Registro">
                                <p>Registrate</p>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="image-container">
                    <img src="homepage/img/CachorritosPradera.jpg"" alt=" Imagen">
                </div>
            </div>

            <%- include("./partials/footer.ejs"); %>

    </body>

</html>