<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs"); %>

    <!-- Login Stylesheet -->
    <link href="homepage/css/login.css" rel="stylesheet">
<body>

    <%- include("./partials/menu.ejs"); %>
    
    <br>
    <br>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Correo electronico">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Contraseña">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Ingresar</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="social-login">
                    <h3>Ingresa con:</h3>
                    <div class="social-icons">
                        <a href="/auth/google">
                            <img src="homepage/img/iconogoogle.png" width="40px" height="40px" alt="">
                        </a>
                    </div>
                    <a href="/register">
                        <h4>Registrate</h4>
                    </a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>

    <%- include("./partials/footer.ejs"); %>
    
</body>
</html>

