<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

<body>
    
    <%- include("./partials/menu.ejs"); %>

    <!-- Services Start -->
    <div class="FondoDiv container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h1 class="display-1 text-uppercase text-titulo mb-lg-4">Servicios</h1>
                <p class="fs-4 text-parrafo mb-lg-4">Paperros ofrece muchos servicios más alla de los paseos, 
                    observa un poco de lo que Paperros tiene para ofrecerte</p>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-house display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Guarderia</h5>
                            <p>Encuentra un cuidador para que tu perro este
                            en las mejores manos cuando no puedas atender sus necesidades</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-food display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Alimentacion</h5>
                            <p>Encuentra una persona que te ayude a mejorar la alimentacion de tu mascota, o una persona que te lleve a tu
                                hogar lo que necesites.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-grooming display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Peluquero canino</h5>
                            <p>Encuentra un peluquero o un sitio para darle el mejor look a tu mascota </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-cat display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Entrenamiento</h5>
                            <p>Encuentra un entrenador especializado para que te ayude a entenar a tu mejor amigo perruno</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-dog display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Paseador canino</h5>
                            <p>Encuentra un paseador para tu o tus perros, elige un precio, un tiempo estimado y una direccion
                            para el paseo y un paseador se encargara de tu mascota. Elige que tu perro vaya en manada, o si lo prefieres que sea un paseo personalizado</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="flaticon-vaccine display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Salud canina</h5>
                            <p>Encuentra un veterinario para que vaya a tu domicilio y le de un tratamiento medico o le haga un chequeo a 
                                tu mascota
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <%- include("./partials/footer.ejs"); %>

</body>

</html>