<div class="barra">
  <h2>Menu<img src="/v1/img/lista_icono.png" alt=""></h2>

  <ul>
    <li><a href="/">Mis paseos</a></li>
    <li><a href="/CrearPaseo">Crear paseo</a></li>
    <li><a href="/RutasPaseadores">Rutas de paseadores</a></li>
    <li><a href="/MisPerros">Mis perros</a></li>
    <li><a href="/perfil">Mi perfil</a></li>
  </ul>

</div>