<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-header navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="/" class="aTitulo ms-lg-5">
        <h1Titulo class="m-0 text-uppercase"> <img src="/v1/img/LogoCirculo.png" height="60" width="60"></img>
            PaPerros</h1Titulo>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="ms-auto py-0 menucentrado">
            <a class="aBarra">Eres Paseador</a>
            <a href="/Inicio" class="aBoton">Ser Dueño</a>
            <a class="aBarra">Nombre de usuario</a>
            <a><img src="/v1/img/LogoCirculo.png" height="60" width="60"></img></a>
        </div>
</nav>
<!-- Navbar End -->