<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-header navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="/" class="aTitulo ms-lg-5">
        <h1Titulo class="m-0 text-uppercase"> <img src="/v1/img/LogoCirculo.png" height="60" width="60"></img>
            PaPerros</h1Titulo>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="ms-auto py-0">
            <%# Menú de rol %>
            <% if ( rol == "dueno" ) { %>
                <a class="aBarra">Eres Dueño</a>
                <a href="/v1/paseador/MisPaseos" class="aBoton">Ser paseador</a>
            <% } else { %>
                <a class="aBarra">Eres Paseador</a>
                <a href="/v1/dueno/MisPaseos" class="aBoton">Ser dueño</a>
            <% } %>
            <%# Usuario %>
            <a class="aBarra"><%= nombre %></a>
            <a ><img class="ImagenPerfil" src="<%= foto %>" height="60" width="60"></img></a>
        </div>
</nav>
<!-- Navbar End -->