<h1 class="display-1 text-titulo text-center">MIS PERROS</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <!--ACA VA A IR UN INCLUDE DE LA FOTO DEL PERRO-->
                        <img class="card-img-top" src="/v1/img/husky.jpg" height="300px" alt="Imagen 1">
                        <div class="card-body">
                            <!--ACA VA A IR UN INCLUDE DEL TITULO DEL SERVICIO-->
                            <p class="card-text">NOMBRE DEL PERRO</p>
                            <!--ACA VA A IR UN INCLUDE DEL PRECIO DEL SERVICIO-->
                            <p class="card-text">Raza del perro</p>
                            <a href="#" class="btn btn-primary aBotonCarta1">EDITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <!--ACA VA A IR UN INCLUDE DE LA FOTO DEL PERRO-->
                        <img class="card-img-top" src="/v1/img/bulldog2.jpg" height="300px" alt="Imagen 1">
                        <div class="card-body">
                            <!--ACA VA A IR UN INCLUDE DEL TITULO DEL SERVICIO-->
                            <p class="card-text">NOMBRE DEL PERRO</p>
                            <!--ACA VA A IR UN INCLUDE DEL PRECIO DEL SERVICIO-->
                            <p class="card-text">Raza del perro</p>
                            <a href="#" class="btn btn-primary aBotonCarta1">EDITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <!--ACA VA A IR UN INCLUDE DE LA FOTO DEL PERRO-->
                        <img class="card-img-top" src="/v1/img/PerritoBesos.jpg" height="300px" alt="Imagen 1">
                        <div class="card-body">
                            <!--ACA VA A IR UN INCLUDE DEL TITULO DEL SERVICIO-->
                            <p class="card-text">NOMBRE DEL PERRO</p>
                            <!--ACA VA A IR UN INCLUDE DEL PRECIO DEL SERVICIO-->
                            <p class="card-text">Raza del perro</p>
                            <a href="#" class="btn btn-primary aBotonCarta1">EDITAR</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <!--ACA VA A IR UN INCLUDE DE LA FOTO DEL PERRO-->
                        <img class="card-img-top" src="/v1/img/bulldog1.jpeg" height="300px" alt="Imagen 1">
                        <div class="card-body">
                            <!--ACA VA A IR UN INCLUDE DEL TITULO DEL SERVICIO-->
                            <p class="card-text">NOMBRE DEL PERRO</p>
                            <!--ACA VA A IR UN INCLUDE DEL PRECIO DEL SERVICIO-->
                            <p class="card-text">Raza del perro</p>
                            <a href="#" class="btn btn-primary aBotonCarta1">EDITAR</a>
                        </div>
                    </div>
                </div>
                <div class="BotonAñadir">
                    <a href="/v1/dueno/AnadirPerro">
                        <img src="/v1/img/añadirIcono.png" height="100" width="100">
                    </a>
                </div>
            </div>