<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs"); %>

<body>
    
    <%- include("./partials/menu.ejs"); %>

    <!-- Blog Start -->
    <div class="container py-5">
        <div class="row g-5 justify-content-center">
            <!-- Blog list Start -->
            <h1 class="text-uppercase text-titulo text-center">Todo sobre nuestros paseadores</h1>
            <p class="fs-4 text-parrafo text-center">Entendemos que puedes tener dudas o preguntas, especialmente cuando se trata de 
                la seguridad de tu mascota, por ello, dedicamos esta pagina a responder las dudas mas comunes referentes a los paseos,
                si tienes alguna otra duda referente a otro de nuestros servicios puedes comunicarte con nosotros en la pestaña de Acerca.
            </p>
            <div class="col-lg-8">
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="homepage/img/Paseador.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <h5 class="text-uppercase mt-4">¿Quienes son los paseadores?</h5>
                                <p>Los paseadores de perros son profesionales capacitados que tienen un gran amor y pasión por los animales. 
                                    Estos expertos entienden las necesidades 
                                    de los perros y saben cómo asegurarse de que cada paseo sea divertido, 
                                    seguro y estimulante para el animal.Además, los paseadores de perros cuentan con una amplia experiencia en el manejo de diferentes razas
                                    y tamaños de perros. Estos profesionales saben cómo manejar situaciones difíciles y 
                                    cómo garantizar la seguridad de tu perro mientras está en su cuidado.
                                    <br>
                                    Puedes estar seguro de que tu perro estará en las mejores manos con un paseador de perros profesional y confiable. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="homepage/img/Paseador2.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <h5 class="text-uppercase mb-3">¿Como me puedo comunicar con el paseador?</h5>
                                <p>Entendemos que la comunicacion entre el paseador y el cliente, es una necesidad, por lo que nos dedicamos
                                    a realizar un sistema de chat en el que se podran comunicar entre ambas partes, ademas de esto, tanto el 
                                    paseador como el cliente podran ver el numero telefonico de la otra persona por si desean tener una comunicacion
                                    mas efectiva.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="homepage/img/Paseador3.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <h5 class="text-uppercase mt-3 mb-3">¿Y si llegara a sucederle algo a mi perro?</h5>
                                <p>Paperros cuenta con un sistema de proteccion total para las mascotas de nuestros usuarios, 
                                    la seguridad y confianza es lo que mas nos interesa, ademas de prestar un servicio de calidad.
                                    Por lo que antes de aceptar un paseador, hacemos un analisis de la persona y decidimos si puede hacer 
                                    parte de la aplicacion. Si algo llegase a suceder nos comunicariamos con las autoridades y dariamos con la 
                                    persona ya que tenemos sus datos personales y verificamos los mismos. Si llegase a pasar un accidente, 
                                    se investigaria el caso y si el culpable fue el paseador este tendria que cubrir los gastos necesarios, todo esto 
                                    se les informa antes de registrarse.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="homepage/img/Paseador4.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <h5 class="text-uppercase mb-3">¿Puedo saber donde esta mi perro?</h5>
                                <p>Por supuesto, Paperros cuenta con un sistema de localizacion del paseador, antes de solicitar un paseo 
                                    el cliente puede seleccionar el sitio donde desea que se pasee la mascota, el sitio debe ser una zona verde y donde 
                                    se permita todo tipo de razas de perros, el cliente puede limitar el area para el paseador y de esta manera puede localizar 
                                    el paseador y a su vez el perro.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-item mb-5">
                    <div class="row g-0 bg-light overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="homepage/img/Paseador5.jpg" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                            <div class="p-4">
                                <h5 class="text-uppercase mb-3">¿Puedo tener más informacion del paseador?</h5>
                                <p>Claro que si, cuando un paseador acepta tu solicitud te llega la notificacion, y en esta 
                                    puedes ver el perfil del paseador, su puntuacion, su descripcion e informacion, su foto y 
                                    lo que han opinado otros clientes de la persona.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog list End -->
        </div>
    </div>
    <!-- Blog End -->

    <%- include("./partials/footer.ejs"); %>

</body>

</html>
